#modelpage
  @media (max-width: 768px)
    .images
      height: auto !important

  .images
    height: 30rem

  .grid-mini
    grid-template-rows: 7rem

  .card
    h3
      &+ svg
        float: right
